body {
background-image: url("images/map.jpg");
overflow: hidden;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height:100vh;
justify-content: center;
align-items: center;
}

h1 {
  text-align: center;
  color: black;
  font-family:Didact Gothic , sans-serif;
  font-weight: bolder;
  letter-spacing: 5px;
  font-size: 5vh;
  text-shadow: 3px, #333;
  padding-top:20%;
}

form {
  text-align: center;
  position: absolute;
  display: flow-root;
}

#formContainer {
background:#901;
width: 100%;
height: 100%;
opacity: 0.85;
display: absolute;
position: absolute;
z-index: 50;
}

placeholder {
  text-align:center;
}

h2 {
  text-align: center;
  color: black;
  font-family:Didact Gothic , sans-serif;
  font-weight: 600;
  letter-spacing: 5px;
  font-size: 3vh;
  text-shadow: 3px, #333;
}

  #test {
    padding-top: 15%;
    padding-left: 30%;
}

  input{
    cursor: pointer;
  }

  @media screen and (max-width: 800px) {
    body {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }

  @media screen and (min-width: 800px) {
    imgContainer {
      width: 100%;
    }
  }

.imgContainer {
  display: inline-grid;
  grid-template-columns: 10fr 10fr 0fr;
  grid-gap: 35em;
  position: relative;
  padding-left: 5%;
}

.imgContainer img {
  width: 40vh;
  position: absolute;
  border-radius: 8%;
}

.imgContainer a {
  text-decoration: none;
  text-align: center;
  color: white;
  font-family: Didact Gothic , sans-serif;
}
